@page "/"

@{
    var nameOfTheme = "Pubg";
    var name="Manmeet Kaur Manni";
    var currentDateTime = @DateTime.Now;

    <h3>@nameOfTheme</h3>
    <h3>@name</h3>
    <h3>@currentDateTime</h3>
}


<SurveyPrompt Title="How is Blazor working for you?" />
